:root {
    --base: #a5a8ab;
    --light-blue: #777d82;
    --dark_blue: rgb(44, 52, 56);
    --text: #5cbe12;
}

@font-face {
    font-family: Dune_Rise;
    src: url("/Dune_Rise.otf") format("opentype");
}


body {
    display: grid;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    height: -webkit-fill-available;
    position: fixed;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    /* font-family: 'Inter', sans-serif; */
    color: black !important;
}

html {
    scroll-behavior: smooth;
    height: 100vh;
    /* font-family: 'Inter', sans-serif; */
    height: -webkit-fill-available;
    overflow: scroll;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    cursor:none !important;
    
}
/* cursor */
.cursor {
    position: fixed;
    width: 1.1vh;
    height: 1.1vh;
    border-radius: 50%;
    background-color: black;
    pointer-events: none ;
    z-index: 999;
    transform: translate(-50%, -50%);
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes pulse{
    0%{ width: 1vh;
        height: 1vh; }
    50%{
        width: 1.2vh;
        height: 1.2vh;
    }
    100% {
        width: 1vh;
        height: 1vh;
    }
}
@keyframes Click {
    0%{
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(2);;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
.expand {
    animation: Click .3s;
}
/* end of cursor */



/*scrollbar stuff*/
.scroll::-webkit-scrollbar {
    display: none;
}

.scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/*scrollbar stuff*/

header {
    padding: 5px;
    height: 7vh;
    width: 100vw;
    background: #4A675A;
    position: relative;
    scroll-snap-align: center;
    block-size: 7vh;
}

.front {
    height: 100vh;
    width: 100vw;
    background:  var(--base);
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
    scroll-snap-align: center;
    position: relative;
}


.more_info {
    height: 64vh;
    width: 100vw;
    width: -webkit-fill-available;
    background: var(--base);
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
    position: relative;
}

.lilArrow {
    position: absolute;
    bottom: 30px;
    visibility: hidden;
    animation-name: arrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes arrow {
    0% {
        transform: scale(6, 0);
        bottom: 30px;
        opacity: 0;
    }
    10%{
        transform: scale(6, 1.5);
    }
    50% {
        transform: scale(6, 1.5);
        opacity: 0.7;
    }
    90% {
        transform: scale(6, 1.5);
    }
    100% {
        transform: scale(6, 0);
        bottom: 10px;
        opacity: 0;
    }
}
.front >.lilArrow {
    visibility: visible;
}

.project >.lilArrow {
    visibility: visible;
}
.bottom_container {
    width: 100vw;
    background: var(--base);
    text-align: center;
    display: flex;
    font-weight: bold;
    white-space: normal;
    flex-wrap: wrap;
    padding-top: 1vh;
    letter-spacing: 0.1vh;
}
.contact {
    height: 30vh;
    width: auto;
    scroll-snap-align: start;
    position: relative;
    background: var(--light-blue);
    transform: scaleX(0.97);
    margin-bottom: 1vh;
    display: table;
    border-radius: 10px;
}
.whatiuse {
    height: 30vh;
    width: auto;
    float: left;
    scroll-snap-align: start;
    background: var(--light-blue);
    border-radius: 10px;
    display: table;
    transform: scaleX(0.97);
}
.whatiuse-middle {
    display: table-cell;
    vertical-align: middle;
}
.software_text {
    height: 30%;
    margin-top: 10vh;
}
.software_text {
    color: white;
}
.software_icon{
    height: 70%;
}
[c]{
    margin-left: 2%;
    margin-right: 2%;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--dark_blue);
    block-size: 6vh;
}


ul{ 
    height: auto;
    margin: 2vh 2vw;
    list-style-type: none;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}
.btn-outline-dark{
    border:none !important;
    outline: none !important;
    font-size: 2rem !important;
    text-transform: capitalize;
    color: var(--text) !important;
    width: fit-content !important;
}
.btn-outline-dark:hover{
    background-color: var(--light-blue) !important;
    color: black !important;
}

.contact::after {
    content: "";
    clear: both;
    display: table;
}
.contact::before {
    content: "";
    clear: both;
    display: table;
}


[b] {
    display: inline-block;
    vertical-align: middle;
}

p {
    display: table;
    margin: 0 auto;
    padding: 0 5%;
}
#email:hover {
    background-color: rgb(150, 163, 144, 0.3);
}

@media screen and (max-width: 768px) {
    .col-12{
        height: 45vh; 
        margin-bottom: 1vh;
    }
    ul{height: 45vh;
    }
    .more_info{
        height: 100vh;
    }
    .bottom_container{
        height: 94vh; 
        padding-top: 1.5vh;
        padding-bottom: 0.5vh;}
    .contact{
        border-radius: 15px;
    }
    .whatiuse{
        border-radius: 30px;
    }
    .more_info >.lilArrow {
        visibility: visible;
    }
    .lilArrow{
        left: 1vh;
        bottom: 49vh;
    }
    @keyframes arrow {
    0% {
        transform: scale(1, 0);
        left: 1vh;
        opacity: 0;
        bottom: 53vh;
    }

    10% {
        transform: scale(1, 3);
    }

    50% {
        transform: scale(1, 3);
        opacity: 0.7;
    }

    90% {
        transform: scale(1, 3);
    }

    100% {
        transform: scale(0, 0);
        opacity: 0;
        bottom: 47vh;
    }}
    .project_content {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}
@media screen and (max-width: 800px) {
    * {
        cursor: default !important;
    }
    .cursor {
        display: none !important;
    }
}

p{
    font-size: larger;
}


/* menu stuff */

.sidebar {
    position: fixed;
    width: 0vh;
    height: 100vh;
    right: 0;
    opacity: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to right,rgb(44, 52, 56, 1),rgb(44,52, 56, 0.8),rgb(44, 52, 56, 0.6), rgb(44, 52, 56, 0.4));
}

.sidebar.active {
    opacity: 1;
    width: 30vh;
    transition: width 500ms;
    transition-timing-function: ease;
}

.sidebar-button{
    width: 100%;
    margin-top: 5%;
}


.menu-button {
    opacity: 0.75;
    position: fixed;
    padding: 1%;
    top: 0;
    right: 0;
    margin-top: 1vh;
    margin-right: 1vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* menu button dont wanna delete thing */



.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 500ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
}
.ham7 .top {
    stroke-dasharray: 40 82;
}

.ham7 .middle {
    stroke-dasharray: 40 111;
}

.ham7 .bottom {
    stroke-dasharray: 40 161;
}

.ham7.active .top {
    stroke-dasharray: 17 82;
    stroke-dashoffset: -62px;
}

.ham7.active .middle {
    stroke-dashoffset: 23px;
}

.ham7.active .bottom {
    stroke-dashoffset: -83px;
}






/* hero section xD */

.hero {
    display: flex;
    align-items: center;
    background-color: #232d3c;
    color: #fff;
    padding: 2rem 0;
    position: relative;
    text-align: center;
}

.hero-inner {
    max-width: 960px;
    margin: 0 auto;
    width: 90%;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

/* i karusel xD */

.project {
    height: 100vh;
    height: -webkit-fill-available;
    width: auto;
    background: var(--light-blue);
    scroll-snap-align: center;
    block-size: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
}





/* ta od bota */
.carousel-item > img{
    background-color: wheat;

}

.project .carousel-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}



.project .carousel-item.active {
    z-index: 1;
    transform: scale(1);
}

.project .carousel-item.prev,
.project .carousel-item.next {
    z-index: 0;
    transform: scale(0.9);
}

.project .prev,
.project .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: solid 1px rgb(0, 0, 0, 0.2);
}

.project .next::before {
    content: "";
    border-top: 8px solid white;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
}
.project .prev::before {
    content: "";
    border-top: 8px solid white;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
}

.project .next::before {
    transform: rotate(270deg) translate(20%, -75%);
}
.project .prev::before {
    transform: rotate(90deg) translate(-20%, 115%);
}

.project .prev{
    left: 30%;
}
.project .next{
    right: 30%;
}



.project .prev:hover,
.project .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.project .carousel-item {
    animation: shuffle 1s ease-in-out;
}

@keyframes shuffle {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(-15deg);
    }

    75% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}